.form {
  /* background */
  background-color: var(--color-dark--2);
  /* dimension */
  border-radius: 1rem;
  padding: 2rem 3rem;
  width: 100%;
  /* display */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  /* display */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.buttons {
  /* display */
  display: flex;
  justify-content: space-between;
}

.flag {
  /* position*/
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  /* font */
  font-size: 3rem;
}

.form.loading {
  opacity: 0.5;
}

.form.loading button {
  /* extra */
  pointer-events: none;
  /* background */
  background-color: var(--color-light--1);
  /* dimension */
  border: 1px solid var(--color-light--1);
  /* font */
  color: var(--color-dark--0);
}

:global(.react-datepicker) {
  /* font */
  font-family: inherit;
  font-size: 1.2rem;
}
